@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    color: #fff !important;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.btn:focus {
    box-shadow: none !important;
}

html {
    min-height: 100%;
    background-image: linear-gradient(#81e3fe, #66a8ff);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
}

#application {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

form {
    display: flex;
    justify-content: space-between;

    .form-group {
        display: flex;
        width: auto;
        width: calc(100% - 50px);
        margin: 0;
        background-color: rgba(255, 255, 255, .25);

        input {
            width: calc(100% - 50px);
            height: 50px;
            padding-left: 15px;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid transparent;
            outline: none;
            font-weight: bold;
            text-transform: capitalize;
        }

        input:focus::placeholder {
            color: transparent;
        }

        input::placeholder {
            color: rgba(255, 255, 255, .75);
            font-weight: lighter;
            text-transform: none;
        }

        #bouton_ville {
            width: 50px;
        }
    }

    #bouton_reset {
        width: 50px;
    }

    button:hover {
        filter: opacity(.5);
        transition: filter .2s;
    }

    label {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

#contenu {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 70px);
    margin-top: 20px;

    * {
        margin: 0 auto;
        text-align: center;
        font-weight: lighter;
    }

    #city {
        font-size: 200%;
        font-weight: bold;
    }

    #date, #humidity {
        font-size: 80%;
    }

    #humidity {
        margin-bottom: 50px;
    }

    #icon {
        max-width: 50%;
    }

    #condition {
        font-size: 120%;
    }

    #temperature {
        font-size: 5em;
        font-weight: bold;
    }
}

#forecast {
    width: 100%;
    margin: auto 0 0 0;
    padding: 0 2%;
    background-color: rgba(255, 255, 255, .25);

    div {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 20px 10px 20px 10px;
        object-fit: contain;

        img {
            max-width: 100px;
            max-height: 75px;
            margin: 10px auto 10px 0;
        }

        p {
            margin: 0;
            text-align: left;
            object-fit: contain;
        
            i {
                margin-right: 5px;
                opacity: .5;
            }
        }
    }
}

#download button {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, .5);
    border: none;
    outline: none;
}